/* section fourth responsive*/

@media (max-width: 900px){

    /* fourth - title*/
    main.main
    > section.main-section-fourth
    > div.fourth-title
    > h2.title{
        width: 45%;
    }

    main.main
    > section.main-section-fourth
    > div.fourth-title
    > hr.title-line{
        width: 55%;
    }

    /* fourth content */

    main.main
    > section.main-section-fourth
    > div.fourth-content{
        width: 100%;
    }

    main.main
    > section.main-section-fourth
    > div.fourth-content
    > div.content-logo{
        flex-basis: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    main.main
    > section.main-section-fourth
    > div.fourth-content
    > div.content-logo
    > img.logo-image{
        width: 40%;
    }
}